VITE_FB_API_KEY=PASTE_API_KEY
VITE_FB_AUTH_DOMAIN=graduation-project-workspace.firebaseapp.com
VITE_FB_PROJECT_ID=graduation-project-workspace
VITE_FB_STORAGE_BUCKET=graduation-project-workspace.firebasestorage.app
VITE_FB_SENDER_ID=PASTE_SENDER_ID
VITE_FB_APP_ID=PASTE_APP_ID
